<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/font.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/farmers/join2.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- 카카오 주소 API -->
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/farmers/kakao_address_api.js}"></script>    
    <title>농민회원 가입 페이지</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <header>
            <div class="header-group">
                <a href="role_choice.html" class="prevPage">&lt;</a>
                <div class="header-title-group">
                    <h1 class="header-title">회원가입</h1>
                    <p class="header-subtitle">농민 기본정보를 입력해주세요</p>
                </div>
            </div>
        </header>
        <main>
            <div class="join-box">
                <div class="join-group">
                    <h2 class="join-title">
                        <span class="join-title-wrap">
                            <span class="join-title-text">2</span>
                        </span>농장정보
                    </h2>
                    <p class="join-subtitle">기본정보 2</p>
                    <form class="join-form" method="post" action="/joinFarmer.do">
                        <div class="form-group">
                            <label for="farm-name">농장명</label>
                            <input type="text" name="farm-name" id="farm-name" placeholder="농장명을 입력해주세요" required>
                        </div>
                        <div class="form-group">
                            <label for="farm-area">농장면적</label>
                            <div class="farm-area-input-group">
                                <input type="text" name="farm-area" id="farm-area" placeholder="농장면적을 입력해주세요" required>
                                <select name="area-unit" id="area-unit" required>
                                    <option value="">면적선택</option>
                                    <option value="ha">ha</option>
                                    <option value="m2">m²</option>
                                </select>
                            </div>
                        </div>
						<!-- 주소찾기  -->
						<div class="form-group">
						    <label for="address-postcode">농장주소</label>
						    <div class="address-input-group">
						        <input type="text" id="address-postcode" name="postcode" placeholder="우편번호" readonly>
						        <button type="button" class="find-address-btn">주소찾기</button>
						    </div>
						    <div class="address-input-group">
						        <input type="text" id="address" name="farm-address" placeholder="도로명 주소" readonly>
						    </div>
						    <div class="address-input-group">
						        <input type="text" id="address-detail" name="farm-address-detail" placeholder="상세주소를 입력해주세요">
						    </div>
						</div>    
                        <div class="form-group">
                            <div class="crop-category-group">
                                <label for="crop">농작물 등록 </label>
                                <div class="crop-grid">
                                    <!-- 각 농작물 항목 -->
                                    <div class="crop-item" data-crop-id="1">
                                        <div class="crop-icon">
                                        	<img th:src="@{/img/crops/apple.png}" width="64" height="64">
										</div>                                        
										<span class="crop-name">사과</span>
                                        <input type="checkbox" name="crops" value="사과" class="crop-checkbox" hidden>
                                    </div>
                                    <div class="crop-item" data-crop-id="2">
                                        <div class="crop-icon">
                                        	<img th:src="@{/img/crops/pear.png}" width="64" height="64">
										</div>                                        
										<span class="crop-name">배</span>
                                        <input type="checkbox" name="crops" value="배" class="crop-checkbox" hidden>
                                    </div>
                                    <div class="crop-item" data-crop-id="3">
                                        <div class="crop-icon">
                                        	<img src="https://icons.iconarchive.com/icons/bingxueling/fruit-vegetables/128/lemon-icon.png" width="64" height="64">
										</div>
                                        <span class="crop-name">레몬</span>
                                        <input type="checkbox" name="crops" value="레몬" class="crop-checkbox" hidden>
                                    </div>
                                    <div class="crop-item" data-crop-id="4">
                                        <div class="crop-icon">
                                        	<img th:src="@{/img/crops/lettuce.png}" width="64" height="64">
										</div>                                        
										<span class="crop-name">상추</span>
                                        <input type="checkbox" name="crops" value="상추" class="crop-checkbox" hidden>
                                    </div>
                                    <div class="crop-item" data-crop-id="5">
                                        <div class="crop-icon">
                                        	<img th:src="@{/img/crops/rice.png}" width="64" height="64">
										</div>                                        
										<span class="crop-name">벼</span>
                                        <input type="checkbox" name="crops" value="벼" class="crop-checkbox" hidden>
                                    </div>
                                    <div class="crop-item" data-crop-id="6">
                                        <div class="crop-icon">
                                        	<img th:src="@{/img/crops/wheat.png}" width="64" height="64">
										</div>                                        <span class="crop-name">밀</span>
                                        <input type="checkbox" name="crops" value="밀" class="crop-checkbox" hidden>
                                    </div>
                                </div>
                                <div class="selected-crops-display" id="selectedCropsDisplay"></div>
                            </div>
                        </div>
                        <!-- join2.js에서 추가될 hidden inputs는 이 아래로 append 됩니다 -->
                    </form>
                </div>
                <div class="button-group">
                    <button type="button" class="back-btn" onclick="goToRoleChoice()">취소</button>
                    <button type="button" class="join-btn" id="joinBtn">회원가입</button>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 자바스크립트 파일 -->
<script th:src="@{/js/farmers/join2.js}"></script>

<!-- 서버에서 전달된 step1 데이터 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.step1DataFromThymeleaf = {
        id: /*[[${param.id}]]*/ null,
        pw: /*[[${param.pw}]]*/ null,
        name: /*[[${param.name}]]*/ null,
        'tel-0': /*[[${param['tel-0']}]]*/ null,
        'tel-1': /*[[${param['tel-1']}]]*/ null,
        'tel-2': /*[[${param['tel-2']}]]*/ null,
        'tel-3': /*[[${param['tel-3']}]]*/ null,
        email: /*[[${param.email}]]*/ null,
        'email-domain': /*[[${param['email-domain']}]]*/ null,
        address: /*[[${param.address}]]*/ null,
        'address-detail': /*[[${param['address-detail']}]]*/ null
    };
    /*]]>*/
</script>

</body>
</html>
