<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer  class="text-center py-3" style="background-color: #89CFF0; color: #fff; position: fixed; bottom: 0; width: 100%; font-size: 14pt;">
        <nav class="bottom-nav">
            <ul class="bottom-nav-list">
                <li class="bottom-nav-item active" onclick="goToFarmerMainPage()">
                    <i class="fas fa-home"></i>
                    <span>홈</span>
                </li>
                <li class="bottom-nav-item" onclick="goToFarmlogBoardPage()">
                    <i class="fas fa-book"></i>
                    <span>내 일지</span>
                </li>
                <li class="bottom-nav-item" onclick="goToDiagnosisBoardPage()">
                    <!-- <i class="fas fa-search"></i> -->
                    <img src="https://icons.iconarchive.com/icons/icons8/windows-8/128/Food-List-Ingredients-icon.png" width="23" height="23" style="margin-bottom: 4px;">
                    <span>진단이력</span>
                </li>
                <li class="bottom-nav-item" onclick="goToMyInfoFarmerPage()">
                    <i class="fas fa-user"></i>
	                <span>내정보</span>
                </li>
            </ul>
        </nav> 
</footer>
</html>